{# empty Twig template #}
{# app/Resources/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Page d'accueil principale du site{% endblock %}</title>

        {% block stylesheets %}
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <div id="header" class="jumbotron">
                {% block core_header %}
                <h1>Page d'accueil principale du site</h1>
                <p>
                    C'est le 1er exercice sérieux sur Symfony.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('oc_platform_home') }}">
                        Aller sur la plateforme d'annonces. »
                    </a>
                </p>
                {% endblock %}
            </div>

            {# On affiche les messages flash apprès la tentative d'accès à la page de contact #}
            <div>
                {% for message in app.session.flashbag.get('notice') %}
                    <p><span style=" color: red;">Message flash : {{ message }}</span></p>
                {% endfor %}
            </div>
            
            {% block core_menu_gauche_block %}
            <div id="menu" class="col-md-3">
                <h3>Formulaire de contact</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ path('core_contact') }}">Contact</a></li>
                </ul>
                <h3>Dernières annonces</h4>
                {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}
            </div>
            {% endblock %}

            <hr>

            <footer style="floa">
                <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
            </footer>
        </div>

        {% block javascripts %}
            {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}

    </body>
</html>