{# empty Twig template #}
{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{# On a remplacé OCPlatformBundle par CoreBundle #}
{%extends "CoreBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    
    {# Message flash qui s'affiche si on a supprimé une annonce #}
    <div>
        {% for message in app.session.flashbag.get('info') %}
            <p><span style ="color: red;">Message flash : {{ message }}</span></p>
        {% endfor %}
    </div>

    <h2>Liste des annonces</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore) d'annonces</li>
            {% endfor %}
    </ul>
{% endblock %}